<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Vademecum Ale
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card [routerLink]="['/detalle-medicamento',medicamento.nregistro]" *ngFor="let medicamento of vademecum.resultados">
    <ion-card-title >Nombre del medicamento: {{medicamento.nombre}}</ion-card-title>
    <ion-card-content>
      <ion-item>Laboratorio titular: {{medicamento.labtitular}}</ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>